body{
  background-color: violet;
  color: antiquewhite;
}
a{
  text-decoration:none;
  color:none;
  
}
a:hover{
  color:antiquewhite; 
}
a:active{
  color: white
}
#etusivunnappula{
  background-color:black;
  width: 30%;
  margin:auto;
  text-align:center; 
  font-size: 40px; 
}
.otsikko{
  background-color: violet;
}
.alaotsikko{
  background-color:violet; 
}
.projektitausta{
  background-color: blue;
  color:black;
  text-align: center;
  margin: 0px;
  
}
#lisaamerkinta{
  background-color:violet;
  text-align: left;
  width: 60%; 
  margin: auto;
  padding:10px;
  font-size: 20px
}
.projektiotsikko{
  background-color: violet;
  text-align: center;
  padding-top: 10px;
}
.laatikko{
  width: 100%;
  margin-bottom: 20px;  
}
#projektinappula{
  background-color: black;
  color: white;
  text-align: center;
  font-size: 14px;
  height: 30px;
 
}
.laatikonohje{
  font-size: 12px;
  color:green;
 
  
}
.merkkiboksi{
  background-color: blue;
  margin-bottom: 20px; 
  

}
#uusinappula{
  background-color:violet;
  color:antiquewhite;
  margin: auto;
  text-align:left;
  width: 100%
 
}

#nappulanappula{
  background-color: black;
  color:white;
  text-align: center;
  font-size: 14px;
  margin: auto;
  margin-top: 10px;
  height: 30px;
  width: 100%
}
.projektinsisalto{
  color:black;
  list-style-type: none;
  background-color: white;
  text-align: left;
  margin: auto;
  font-size: 14px;
  margin-top: 10px;
  width: 50%;
}
.sisalto{
 list-style: none;
 
}
.ilmoitus{
  background-color:red;
  color: whitesmoke;
  width:30%; 
  

}
.projektivalitsin{
  color: black;
}





