body{
  background-color: violet;
  color: antiquewhite;
}
a{
  text-decoration:none;
  color:black;
}
a:hover{
color:blue; 
}
a:active{
color:brown;}
#etusivunnappula{
background-color:black;
width: 30%;
margin:auto;
text-align:center;  
}
.otsikko{
  background-color: violet
}
.alaotsikko{
  background-color: }