body{
  background-color: violet;
  color: antiquewhite;
}
a{
  text-decoration:none;
  color:none;
}
a:hover{
color:antiquewhite; 
}
a:active{
color:brown;}
#etusivunnappula{
background-color:black;
width: 30%;
margin:auto;
text-align:center; 
font-size: 40px; 
}
.otsikko{
  background-color: violet;
}
.alaotsikko{
  background-color:violet; 
}
.projektitausta{
  background-color: blue;
  color: purple;
  text-align: center;
  margin: 0px;
}
#lisaamerkinta{
  background-color:violet;
  text-align: left;
  width: 70%; 
  margin: auto;
 
}
.projektiotsikko{
  margin-bottom:40px;
  background-color: violet;
  padding: 20px;
}
.laatikko{
  width: 100%;
}




  

